@model HomeViewModel

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a href="/">Sản Phẩm</a></li>
            <li class="breadcrumb-item active">Chi Tiết</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Detail Start -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                @foreach (var item in Model.LandingProduct.ProductImages)
                                {
                                    <img src="@item.ImagePath" alt="@item.Caption">
                                }

                            </div>
                            <div class="product-slider-single-nav normal-slider border-0">
                                @foreach (var item in Model.LandingProduct.ProductImages)
                                {
                                    <img src="@item.ImagePath" alt="@item.Caption">
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title"><h2>@Model.LandingProduct.Name</h2></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">
                                    <h4>Price:</h4>
                                    <p> @Model.LandingProduct.price</p>
                                </div>
                                <div class="quantity">
                                    <h4>Quantity:</h4>
                                    <div class="qty">
                                        <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                        <input type="text" value="1" id="quantity">
                                        <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="p-size">
                                    <h4>Size:</h4>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn size" data-size="S">S</button>
                                        <button type="button" class="btn size" data-size="M">M</button>
                                        <button type="button" class="btn size" data-size="L">L</button>
                                        <button type="button" class="btn size" data-size="XL">XL</button>
                                    </div>
                                </div>

                                <div class="action">
                                    <a class="btn btn-add-cart" data-id="@Model.LandingProduct.Id" data-size="NONE" href="#" id="addCart"><i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ Hàng</a>
                                    <a class="btn" href="#" onclick="return false;"><i class="fa fa-shopping-bag"></i>Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">
                                    Mô Tả
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#specification">Nội dung</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#reviews">Reviews (1)</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h4>Mô tả sản phẩm  </h4>
                                <p> @Model.LandingProduct.Description </p>
                            </div>
                            <div id="specification" class="container tab-pane fade">
                                <h4>Chưa Được Phát Triển</h4>
                                <ul>
                                    <li>Chưa Được Phát Triển</li>
                                    <li>Chưa Được Phát Triển</li>
                                    <li>Chưa Được Phát Triển</li>
                                    <li>Chưa Được Phát Triển</li>
                                    <li>Chưa Được Phát Triển</li>
                                </ul>
                            </div>
                            <div id="reviews" class="container tab-pane fade">
                                <div class="reviews-submitted">
                                    <div class="reviewer">Phasellus Gravida - <span>01/01/2020</span></div>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>
                                        Chưa Được Phát Triển
                                    </p>
                                </div>
                                <div class="reviews-submit">
                                    <h4>Để Lại Đánh Giá của bạn</h4>
                                    <div class="ratting">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="row form">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Tên">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea placeholder="Đánh giá của bạn"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button disabled>Đánh giá</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="section-header">
                        <h1>Sản Phẩm Cùng Danh Mục</h1>
                    </div>

                    <div class="row align-items-center product-slider product-slider-3">
                        @foreach (var item in Model.FeaturedProducts)
                        {

                            <div class="col-lg-3">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id">@item.Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id">
                                            <img src="@item.ThumbnailImage" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id"><i class="fa fa-cart-plus"></i></a>
                                            <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>@item.price</h3>
                                        @*<a class="btn" asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i>Mua Ngay</a>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-home"></i>Trang Chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Sản phẩm bán chạy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class=" fa far fa-star"></i>Sản Phẩm Xem Nhiều</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>Sản phẩm mới</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-female"></i>Thời trang nam nữ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa fa-male"></i>Thời trang nam</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Áo phông</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Phụ Kiện</a>
                            </li>

                        </ul>

                    </nav>
                </div>

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        @foreach (var item in Model.LatestProducts)
                        {

                            <div class="col-lg-3">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id">@item.Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id">
                                            <img src="@item.ThumbnailImage" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id"><i class="fa fa-cart-plus"></i></a>
                                            <a asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>@item.price</h3>
                                        @*<a class="btn" asp-action="ProductDetail" asp-controller="HomePage" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i>Buy Now</a>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    <ul>
                        <li><a href="#">Nulla </a><span>(45)</span></li>
                        <li><a href="#">Curabitur </a><span>(34)</span></li>
                        <li><a href="#">Nunc </a><span>(67)</span></li>
                        <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                        <li><a href="#">Fusce </a><span>(89)</span></li>
                        <li><a href="#">Sagittis</a><span>(28)</span></li>
                    </ul>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Tags Cloud</h2>
                    <a href="#">Lorem ipsum</a>
                    <a href="#">Vivamus</a>
                    <a href="#">Phasellus</a>
                    <a href="#">pulvinar</a>
                    <a href="#">Curabitur</a>
                    <a href="#">Fusce</a>
                    <a href="#">Sem quis</a>
                    <a href="#">Mollis metus</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Vel posuere</a>
                    <a href="#">orci luctus</a>
                    <a href="#">Nam lorem</a>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product Detail End -->