@page "/login/"
@model LoginModel

@{ ViewData["Title"] = "ĐĂNG NHẬP"; }

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a href="/login">Đăng nhập</a></li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 "style="margin:0 auto">
                <div class="register-form">
                    <section>
                        <form id="account" method="post">
                            <h4>Điền thông tin để đăng nhập.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.UserNameOrEmail"></label>
                                <input asp-for="Input.UserNameOrEmail" class="form-control" />
                                <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Bạn quên mật khẩu?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Chưa có tài khoản, đăng ký mới</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Đăng nhập bằng:</h4>
                    <hr />
                    @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
            <div>
                <p>
                    Chưa cấu hình đăng nhập bằng dịch vụ khác.
                </p>
            </div> }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>

                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" value="@provider.Name" name="provider" title="Sử dụng tài khoản facebook của bạn" class=" external--btn btn--facebook__login" disabled><span><i class="tikicon icon-facebook-white"></i></span>Đăng nhập bằng Facebook</button>
                            <button type="submit" value="@provider.Name" name="provider" title="Sử dụng tài khoản @provider.DisplayName của bạn" class="external--btn btn--google__login" disabled><span><i class="tikicon icon-google-white"></i></span>Đăng nhập bằng Google</button>

                        }

                    </p>
                </div>
            </form> } }
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}