
@{
    Layout = "_IframeLayout";
    int productId =ViewBag.productId;
}

@model List<CategoryViewModel>

<main>
    <div class="container-fluid mt-4">
        <div class="container-fluid d-inline-flex justify-content-center mb-3"> <h2>Danh Mục Sản Phẩm</h2></div>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dòng này chưa có ý tưởng ^^</li>
        </ol>
        
        <div class="card-header">
            <a class="btn btn-success" asp-action="Detail" asp-controller="Products" asp-route-id="@productId">Về Trang Trước</a>
        </div>
        <partial name="_StatusMessage" model="@TempData["result"]" />
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa fa-list mr-1"></i>
                Danh Mục Sản Phẩm
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0" style="background-color:white;color:black">
                        <thead>
                            <tr>
                                <th>Mã Danh Mục </th>
                                <th>Tên Danh Mục</th>
                                <th>Hiển Thị ở Trang Chủ</th>
                                <th>Trạng thái</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <th>@(item.IsShowOnHome ? "Hiển Thị" : "Không Hiển Thị")</th>
                                    <th>@((item.Status==Project.Data.Enums.Status.Active) ? "Khả Dụng" : "Không Khả Dụng")</th>
                                    <td>
                                        
                                            @if (item.asigned(productId))
                                            {
                                                <a class="btn btn-danger assignRequest unassign" asp-action="Unassign" asp-controller="Products" asp-route-productId=@productId asp-route-categoryId=@item.Id>Bỏ Chọn danh mục</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary assignRequest assign" asp-action="Assign" asp-controller="Products" asp-route-productId=@productId asp-route-categoryId=@item.Id>Chọn danh mục</a>
                                            }
                                        

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="/js/myjs.js" type='text/javascript'></script>
}