@page "/admin/role/users/"
@model Project.Areas.Admin.Pages.Role.UserModel
@{ ViewData["Title"] = "DANH SÁCH NGƯỜI DÙNG"; }


<main>
    <div class="container-fluid mt-4">
        <div class="container-fluid d-inline-flex justify-content-center mb-3"> <h2 >Quản Lý Quyền Truy Cập Của Tài Khoản</h2></div>
       
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item "><a href="/admin/role"> Danh Sách Quyền Truy Cập</a></li>
            <li class="breadcrumb-item active">Quản Lý Quyền Truy Cập</li>
        </ol>
        <partial name="_StatusMessage" model="@Model.StatusMessage" />
        <div class="card mb-4 mt-2">
            <div class="card-header">
                <i class="fa fa-user mr-1"></i>
                Cập Nhật Quyền Cho Tài Khoản
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0" style="background-color:white;color:black">
                        <thead>
                            <tr>
                                <th>Tên người dùng</th>
                                <th>Vị trí</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in @Model.users)
                            {
                                <tr>
                                    
                                    <td><a asp-controller="User" asp-action="Details" asp-route-id=@user.Id asp-route-returnUrl="/admin/role/users/">@user.UserName</a></td>
                                    <td>@user.listroles</td>
                                    <td>
                                        <form method="POST" class="d-inline">
                                            <button name="Input.ID" value="@user.Id" class="btn btn-primary btn-sm"
                                                    asp-page="./AddUserRole">
                                                Cập nhật Vị trí
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
        @{ Func<int?, string> generateUrl = (int? _pagenumber) =>
                          {
                              return Url.Page("./User", new { pageNumber = _pagenumber });
                          };

            var datapaging = new
            {
                currentPage = Model.pageNumber,
                countPages = Model.totalPages,
                generateUrl = generateUrl
            }; }
        <partial name="_Paging" model="@datapaging" />
    </div>
</main>